h1 {color: aqua;}
p {font-family:Montserrat , sans-serif;
    text-align: center;}
a {font-family:Montserrat, sans-serif;
    text-align: center;}
html {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(208,247,255,1) 100%); }
h2 {
    text-align: center;
}
* {
    text-align: center;
}

article {
    margin: 5%;
}

article > iframe {
    width: 100%;
}