p {font-family:Montserrat , sans-serif;
    text-align: center;}
a {font-family:Montserrat, sans-serif;
    text-align: center;}
* {
    text-align: center;
}

article {
    margin: 5%;
}

article > iframe {
    width: 100%;
}

.nav{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav > li > a {
  display: block;
  padding: 4px;
  font-family: Ubuntu , sans-serif;
  font-size: 150%;
  margin-left: 4px;
  margin-right: 4px;
}
a:link {
    background-color: rgba(208,247,255,1);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    background-color: rgb(0, 213, 255);
    color: white;
  }
  
  a:active {
    text-decoration: none;
  }

  header {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(208,247,255,1) 100%); 
    padding-top: 2;
    padding-bottom: 2%;
  }

  h2 , h1 {
    font-family: Ubuntu, sans-serif;
  }