   body, html {
    height: 100%;
    margin: 0;
  }
  .bg {
    min-height: 100%;
    background-image: url(img/milo-weiler-ejS99Hbzr54-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }